In [1]:
import pandas as pd

In [2]:
!ls ../

0to999999_BlockTransaction	       2000000to2999999_BlockTransaction.zip
0to999999_BlockTransaction.zip	       blockchain
1000000to1999999_BlockTransaction      blockchain_code
1000000to1999999_BlockTransaction.zip  csvfiles
2000000to2999999_BlockTransaction

In [3]:
path1 = '../0to999999_BlockTransaction/processed.csv'
path2 = '../1000000to1999999_BlockTransaction/processed.csv'
path3 = '../2000000to2999999_BlockTransaction/processed.csv'

In [4]:
df1 = pd.read_csv(path1)  
df1.head()

,timestamp,from,to,value,gasLimit,gasPrice,gasUsed
0,1438918233,0xa1e4380a3b1f749673e270229993ee55f35663b4,0x5df9b87991262f6ba471f09758cde1c0fc1de734,31337,21000,50000000000000,21000
1,1438918613,0xbd08e0cddec097db7901ea819a3d1fd9de8951a2,0x5c12a8e43faf884521c2454f39560e6c265a68c8,19900000000000000000,21000,909808707606,21000
2,1438918630,0x63ac545c991243fa18aec41d4f6f598e555015dc,0xc93f2250589a6563f5359051c1ea25746549f0d8,599989500000000000000,21000,500000000000,21000
3,1438918983,0x037dd056e7fdbd641db5b6bea2a8780a83fae180,0x7e7ec15a5944e978257ddae0008c2f2ece0a6090,100000000000000000000,21000,1000000000000,21000
4,1438919175,0x3f2f381491797cc5c0d48296c14fd0cd00cdfa2d,0x4bd5f0ee173c81d42765154865ee69361b6ad189,803989500000000000000,21000,500000000000,21000

In [5]:
df2 = pd.read_csv(path2)  
df2.head()

,timestamp,from,to,value,gasLimit,gasPrice,gasUsed
0,1455404053,0x32be343b94f860124dc4fee278fdcbd38c102d88,0xdf190dc7190dfba737d7777a163445b7fff16133,437194980000000000,50000,60000000000,21000
1,1455404058,0x2a65aca4d5fc5b5c859090a6c34d164135398226,0x819f4b08e6d3baa33ba63f660baed65d2a6eb64c,1048850240000000000,90000,50000000000,21000
2,1455404078,0x2910543af39aba0cd09dbb2d50200b3e800a63d2,0x9e486ad335492959c38a0740cb66c55ad30bb4f0,1000000000000000000,100000,50000000000,21000
3,1455404078,0x10d5bff7879b7eb5192b3374338bb834981910a8,0xc6c764fc6c1e1211d2b4a06ef2170f660a4512fa,1000000000000000000,90000,50000000000,21000
4,1455404078,0x2a65aca4d5fc5b5c859090a6c34d164135398226,0x53e0551a1e31a40855bc8e086eb8db803a625bbf,1046558020000000000,90000,50000000000,21000

In [6]:
df3 = pd.read_csv(path3)  
df3.head()

,timestamp,from,to,value,gasLimit,gasPrice,gasUsed
0,1470173578,0x32be343b94f860124dc4fee278fdcbd38c102d88,0x104994f45d9d697ca104e5704a7b77d7fec3537c,149990000000000000000,333333,30000000000,21000
1,1470173581,0x147184ef469ce9bba3d08af16f0b6d31cac35ac8,0x695055f1ea55c36ec7e3bd43d1736511ac8dab61,110000000000000000000,121000,32210000000,21000
2,1470173581,0x32be343b94f860124dc4fee278fdcbd38c102d88,0x06c69f734a0240cb31678412f04eb0ce8f39258b,49990000000000000000,333333,30000000000,21000
3,1470173581,0x5410c4c59a719eef345869c204ec8dcac2dfd718,0xa795b4ddbf17570f2c8f5e75a13ef94db6757f32,100094510999899995340,90000,20000000000,21000
4,1470173581,0xea674fdde714fd979de3edf0f56aa9716b898ec8,0x8d0e7c2c82970c9d1b7d598be20f2ba0f13e6537,495804755025959230,90000,20000000000,21000

In [11]:
print(df1['from'].unique().shape)
print(df2['from'].unique().shape)
print(df3['from'].unique().shape)

(28129,)
(247363,)
(215966,)

In [12]:
import glob

In [14]:
!ls ../csvfiles

bitcoinsov.csv	 dex.csv       isowallet.csv  phish_hack.csv
bithumb.csv	 exchange.csv  loans.csv      trading.csv
compromised.csv  gambling.csv  mining.csv     walletapp.csv

In [18]:
files = []
for name in glob.glob('../csvfiles/*'):
    files.append(name)

In [35]:
files

['../csvfiles/isowallet.csv',
 '../csvfiles/mining.csv',
 '../csvfiles/compromised.csv',
 '../csvfiles/loans.csv',
 '../csvfiles/phish_hack.csv',
 '../csvfiles/dex.csv',
 '../csvfiles/trading.csv',
 '../csvfiles/bithumb.csv',
 '../csvfiles/gambling.csv',
 '../csvfiles/bitcoinsov.csv',
 '../csvfiles/exchange.csv',
 '../csvfiles/walletapp.csv']

In [53]:
df = pd.read_csv(files[-1],header=None)

In [54]:
df.head()

,0,1,2,3
0,0x6b59210ade46b62b25e82e95ab390a7ccadd4c3a,Bitberry,0.015523 Ether,140891
1,0xa9c7d31bb1879bff8be25ead2f59b310a52b7c5a,Cobo,3.71660279 Ether,115582
2,0x4fed1fc4144c223ae3c1553be203cdfcbd38c581,Cryptonator,585.79318892 Ether,1224375
3,0x7ed1e469fcb3ee19c0366d829e291451be638e59,Freewallet,92.91039656 Ether,1046809
4,0x28c9386ebab8d52ead4a327e6423316435b2d4fc,RenrenBit,"4,094.59562832 Ether",1849

In [63]:
df2[df2['from']=='0x7ed1e469fcb3ee19c0366d829e291451be638e59'].count()[0]

timestamp    4550
from         4550
to           4550
value        4550
gasLimit     4550
gasPrice     4550
gasUsed      4550
dtype: int64

In [65]:
use_full=[]
for f in files:
    df = pd.read_csv(f,header=None)
    for addr in df[0]:
        if df2[df2['from']==addr].count()[0]> 0:
            use_full.append((f,addr))
            print((f,addr))
#             print(addr)
#         print(addr)
#         break
#     break

('../csvfiles/mining.csv', '0x68795c4aa09d6f4ed3e5deddf8c2ad3049a601da')
('../csvfiles/mining.csv', '0xf8b483dba2c3b7176a3da549ad41a48bb3121069')
('../csvfiles/mining.csv', '0xa42af2c70d316684e57aefcc6e393fecb1c7e84e')
('../csvfiles/mining.csv', '0x2a65aca4d5fc5b5c859090a6c34d164135398226')
('../csvfiles/mining.csv', '0x151255dd9e38e44db38ea06ec66d0d113d6cbe37')
('../csvfiles/mining.csv', '0xa027231f42c80ca4125b5cb962a21cd4f812e88f')
('../csvfiles/mining.csv', '0xea674fdde714fd979de3edf0f56aa9716b898ec8')
('../csvfiles/mining.csv', '0x4bb96091ee9d802ed039c4d1a5f6216f90f81b01')
('../csvfiles/mining.csv', '0xd34da389374caad1a048fbdc4569aae33fd5a375')
('../csvfiles/mining.csv', '0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5')
('../csvfiles/mining.csv', '0x63a9975ba31b0b9626b34300f7f627147df1f526')
('../csvfiles/mining.csv', '0xd1e56c2e765180aa0371928fd4d1e41fbcda34d4')
('../csvfiles/compromised.csv', '0x027beefcbad782faf69fad12dee97ed894c68549')
('../csvfiles/compromised.csv', '0x0ee4e2d09aec35bdf08083b649033ac0a41aa75e')
('../csvfiles/exchange.csv', '0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98')
('../csvfiles/exchange.csv', '0x007174732705604bbbf77038332dc52fd5a5000c')
('../csvfiles/exchange.csv', '0x96fc4553a00c117c5b0bed950dd625d1c16dc894')
('../csvfiles/exchange.csv', '0x4b01721f0244e7c5b5f63c20942850e447f5a5ee')
('../csvfiles/exchange.csv', '0x167a9333bf582556f35bd4d16a7e80e191aa6476')
('../csvfiles/exchange.csv', '0xd24400ae8bfebb18ca49be86258a3c749cf46853')
('../csvfiles/exchange.csv', '0x9c67e141c0472115aa1b98bd0088418be68fd249')
('../csvfiles/exchange.csv', '0x51836a753e344257b361519e948ffcaf5fb8d521')
('../csvfiles/exchange.csv', '0x2910543af39aba0cd09dbb2d50200b3e800a63d2')
('../csvfiles/exchange.csv', '0xe853c56864a2ebe4576a807d26fdc4a0ada51919')
('../csvfiles/exchange.csv', '0x267be1c1d684f78cb4f6a176c4911b741e4ffdc0')
('../csvfiles/exchange.csv', '0x32be343b94f860124dc4fee278fdcbd38c102d88')
('../csvfiles/exchange.csv', '0xb794f5ea0ba39494ce839613fffba74279579268')
('../csvfiles/exchange.csv', '0x120a270bbc009644e35f0bb6ab13f95b8199c4ad')
('../csvfiles/exchange.csv', '0x9e6316f44baeeee5d41a1070516cc5fa47baf227')
('../csvfiles/exchange.csv', '0xd94c9ff168dc6aebf9b6cc86deff54f3fb0afc33')
('../csvfiles/exchange.csv', '0x42da8a05cb7ed9a43572b5ba1b8f82a0a6e263dc')
('../csvfiles/exchange.csv', '0x700f6912e5753e91ea3fae877a2374a2db1245d7')
('../csvfiles/walletapp.csv', '0x7ed1e469fcb3ee19c0366d829e291451be638e59')

In [66]:
for f in files:
    df = pd.read_csv(f,header=None)
    for addr in df[0]:
        if df1[df1['from']==addr].count()[0]> 0:
            use_full.append((f,addr))
            print((f,addr))
#             print(addr)
#         print(addr)
#         break
#     break

('../csvfiles/isowallet.csv', '0xa04fc9bd2be8bcc6875d9ebb964e8f858bcc1b4f')
('../csvfiles/mining.csv', '0xc839ee5542b4e8413246b3634c5c739fea949562')
('../csvfiles/mining.csv', '0x68795c4aa09d6f4ed3e5deddf8c2ad3049a601da')
('../csvfiles/mining.csv', '0xf8b483dba2c3b7176a3da549ad41a48bb3121069')
('../csvfiles/mining.csv', '0x2a65aca4d5fc5b5c859090a6c34d164135398226')
('../csvfiles/mining.csv', '0xa027231f42c80ca4125b5cb962a21cd4f812e88f')
('../csvfiles/mining.csv', '0x9d551f41fed6fc27b719777c224dfecce170004d')
('../csvfiles/mining.csv', '0xe6a7a1d47ff21b6321162aea7c6cb457d5476bca')
('../csvfiles/mining.csv', '0x4bb96091ee9d802ed039c4d1a5f6216f90f81b01')
('../csvfiles/mining.csv', '0xd34da389374caad1a048fbdc4569aae33fd5a375')
('../csvfiles/mining.csv', '0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5')
('../csvfiles/mining.csv', '0x1dcb8d1f0fcc8cbc8c2d76528e877f915e299fbe')
('../csvfiles/mining.csv', '0x63a9975ba31b0b9626b34300f7f627147df1f526')
('../csvfiles/mining.csv', '0xd1e56c2e765180aa0371928fd4d1e41fbcda34d4')
('../csvfiles/exchange.csv', '0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98')
('../csvfiles/exchange.csv', '0x2910543af39aba0cd09dbb2d50200b3e800a63d2')
('../csvfiles/exchange.csv', '0x32be343b94f860124dc4fee278fdcbd38c102d88')
('../csvfiles/exchange.csv', '0xb794f5ea0ba39494ce839613fffba74279579268')
('../csvfiles/exchange.csv', '0x120a270bbc009644e35f0bb6ab13f95b8199c4ad')
('../csvfiles/exchange.csv', '0xd94c9ff168dc6aebf9b6cc86deff54f3fb0afc33')
('../csvfiles/exchange.csv', '0x42da8a05cb7ed9a43572b5ba1b8f82a0a6e263dc')

In [70]:
for f in files:
    df = pd.read_csv(f,header=None)
    for addr in df[0]:
        if df3[df3['from']==addr].count()[0]> 0:
            use_full.append((f,addr))
            print((f,addr))
#             print(addr)
#         print(addr)
#         break
#     break

('../csvfiles/isowallet.csv', '0xa2c9a7578e2172f32a36c5c0e49d64776f9e7883')
('../csvfiles/isowallet.csv', '0xc78310231aa53bd3d0fea2f8c705c67730929d8f')
('../csvfiles/mining.csv', '0x68795c4aa09d6f4ed3e5deddf8c2ad3049a601da')
('../csvfiles/mining.csv', '0xf8b483dba2c3b7176a3da549ad41a48bb3121069')
('../csvfiles/mining.csv', '0xa42af2c70d316684e57aefcc6e393fecb1c7e84e')
('../csvfiles/mining.csv', '0x2a65aca4d5fc5b5c859090a6c34d164135398226')
('../csvfiles/mining.csv', '0xa027231f42c80ca4125b5cb962a21cd4f812e88f')
('../csvfiles/mining.csv', '0xea674fdde714fd979de3edf0f56aa9716b898ec8')
('../csvfiles/mining.csv', '0x4bb96091ee9d802ed039c4d1a5f6216f90f81b01')
('../csvfiles/mining.csv', '0xd34da389374caad1a048fbdc4569aae33fd5a375')
('../csvfiles/mining.csv', '0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5')
('../csvfiles/mining.csv', '0x63a9975ba31b0b9626b34300f7f627147df1f526')
('../csvfiles/mining.csv', '0xd1e56c2e765180aa0371928fd4d1e41fbcda34d4')
('../csvfiles/compromised.csv', '0x027beefcbad782faf69fad12dee97ed894c68549')
('../csvfiles/compromised.csv', '0x0ee4e2d09aec35bdf08083b649033ac0a41aa75e')
('../csvfiles/phish_hack.csv', '0x9af3bf0b0a117d3fbfb37dfc7fa67f9a645488fc')
('../csvfiles/exchange.csv', '0x1151314c646ce4e0efd76d1af4760ae66a9fe30f')
('../csvfiles/exchange.csv', '0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98')
('../csvfiles/exchange.csv', '0x007174732705604bbbf77038332dc52fd5a5000c')
('../csvfiles/exchange.csv', '0x96fc4553a00c117c5b0bed950dd625d1c16dc894')
('../csvfiles/exchange.csv', '0x4b01721f0244e7c5b5f63c20942850e447f5a5ee')
('../csvfiles/exchange.csv', '0x167a9333bf582556f35bd4d16a7e80e191aa6476')
('../csvfiles/exchange.csv', '0x1fd6267f0d86f62d88172b998390afee2a1f54b6')
('../csvfiles/exchange.csv', '0xd24400ae8bfebb18ca49be86258a3c749cf46853')
('../csvfiles/exchange.csv', '0x9c67e141c0472115aa1b98bd0088418be68fd249')
('../csvfiles/exchange.csv', '0x51836a753e344257b361519e948ffcaf5fb8d521')
('../csvfiles/exchange.csv', '0x2910543af39aba0cd09dbb2d50200b3e800a63d2')
('../csvfiles/exchange.csv', '0x0a869d79a7052c7f1b55a8ebabbea3420f0d1e13')
('../csvfiles/exchange.csv', '0xe853c56864a2ebe4576a807d26fdc4a0ada51919')
('../csvfiles/exchange.csv', '0x267be1c1d684f78cb4f6a176c4911b741e4ffdc0')
('../csvfiles/exchange.csv', '0x8271b2e8cbe29396e9563229030c89679b9470db')
('../csvfiles/exchange.csv', '0x5e575279bf9f4acf0a130c186861454247394c06')
('../csvfiles/exchange.csv', '0x32be343b94f860124dc4fee278fdcbd38c102d88')
('../csvfiles/exchange.csv', '0x65f9b2e4d7aaeb40ffea8c6f5844d5ad7da257e0')
('../csvfiles/exchange.csv', '0xab11204cfeaccffa63c2d23aef2ea9accdb0a0d5')
('../csvfiles/exchange.csv', '0x9e6316f44baeeee5d41a1070516cc5fa47baf227')
('../csvfiles/exchange.csv', '0x70faa28a6b8d6829a4b1e649d26ec9a2a39ba413')
('../csvfiles/exchange.csv', '0xd94c9ff168dc6aebf9b6cc86deff54f3fb0afc33')
('../csvfiles/exchange.csv', '0x42da8a05cb7ed9a43572b5ba1b8f82a0a6e263dc')
('../csvfiles/exchange.csv', '0x700f6912e5753e91ea3fae877a2374a2db1245d7')
('../csvfiles/walletapp.csv', '0x7ed1e469fcb3ee19c0366d829e291451be638e59')

In [68]:
df[0]

0    0x6b59210ade46b62b25e82e95ab390a7ccadd4c3a
1    0xa9c7d31bb1879bff8be25ead2f59b310a52b7c5a
2    0x4fed1fc4144c223ae3c1553be203cdfcbd38c581
3    0x7ed1e469fcb3ee19c0366d829e291451be638e59
4    0x28c9386ebab8d52ead4a327e6423316435b2d4fc
5    0x46c635b772115ad2c3df7abe0d35eb908abad4b8
6    0x6e8d7d12c3f0a9285981b8998ce7cf0cf0bce78e
Name: 0, dtype: object