In [1]:
!ls ../blockchain_files/3000000to3999999_BlockTransaction

3000000to3999999_BlockTransaction.csv

In [19]:
!ls ..

blockchain	     csvfiles	      mend
blockchain_code.zip  detectron.yml    Miniconda3-latest-Linux-x86_64.sh
blockchain_files     environment.yml  scene_reg
blockchain_GNN	     match_data

In [1]:
path = '../3000000to3999999_BlockTransaction/3000000to3999999_BlockTransaction.csv'
save_path = '../3000000to3999999_BlockTransaction/'

In [2]:
import pandas as pd
import numpy as np
import glob
import os
from datetime import date
import time

In [3]:
for df in pd.read_csv(path, chunksize=10000):
    print(df.shape)
    break

(10000, 18)

In [5]:
df['value'].apply(lambda x: x[:10])

0                0
1       4950000000
2       1011962068
3       1011957331
4       1008362508
           ...
9995    4369893027
9996    2700000000
9997    2745029333
9998    7992646231
9999    2288964125
Name: value, Length: 10000, dtype: object

In [12]:
df.loc[9995]

blockNumber                                                       3001241
timestamp                                                      1484492929
transactionHash         0xd78a10b379ba0bb4f1afb4a6600e179297aff3d63967...
from                           0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5
to                             0x284d32b839493898494e0ca7c2defc95c682674e
toCreate                                                             None
fromIsContract                                                          0
toIsContract                                                            0
value                                                  436989302731289472
gasLimit                                                            50000
gasPrice                                                      20000000000
gasUsed                                                             21000
callingFunction                                                        0x
isError                                                              None
eip2718type                                                          None
baseFeePerGas                                                        None
maxFeePerGas                                                         None
maxPriorityFeePerGas                                                 None
Name: 9995, dtype: object

In [17]:
value=df['value'].astype(float)/(10**18)
value[9995]

0.4369893027312895

In [7]:
print(path)
print(save_path)
start = True
for df in pd.read_csv(path, chunksize=10000):
    proc_df = df[df['toIsContract']==0]
    proc_df = proc_df[proc_df['fromIsContract']==0]
    df1 = proc_df[['timestamp', 'from','to','value','gasLimit','gasPrice','gasUsed']]
    with open(save_path+'processed.csv', 'a') as f:
        if start:
            start=False
            df1.to_csv(f,index=False,header=True)
        else:
            df1.to_csv(f,index=False, header=False)

../4000000to4999999_BlockTransaction/4000000to4999999_BlockTransaction.csv
../4000000to4999999_BlockTransaction/

In [21]:
path = '../4000000to4999999_BlockTransaction/4000000to4999999_BlockTransaction.csv'
save_path = '../4000000to4999999_BlockTransaction/'

In [7]:
import glob
import pandas as pd
files = []
for name in glob.glob('../csvfiles/*'):
    files.append(name)

In [24]:
path = '../1000000to1999999_BlockTransaction/1000000to1999999_BlockTransaction.csv'
save_path = '../1000000to1999999_BlockTransaction/'

In [25]:
use_full=[]
for df2 in pd.read_csv(path, chunksize=1000000):
    for f in files:
        df = pd.read_csv(f,header=None)
        for addr in df[0]:
            if df2[df2['from']==addr].count()[0]> 0:
                use_full.append((f[12:-4],addr))
#                 print((f[12:-4],addr))
    #             print(addr)
    #         print(addr)
    #         break
    #     break

In [26]:
print(path)
df = pd.DataFrame(use_full)
df.shape

../1000000to1999999_BlockTransaction/1000000to1999999_BlockTransaction.csv

(188, 2)

In [20]:
files_path = '../csvfiles/*'
def extract_labels(files_path,path):
    print(path)
    files = []
    for name in glob.glob(files_path):
        files.append(name)
    
    extracted_labels=[]
    for df2 in pd.read_csv(path, chunksize=1000000):
        for f in files:
            df = pd.read_csv(f,header=None)
            for addr in df[0]:
                if df2[df2['from']==addr].count()[0]> 0:
                    extracted_labels.append((f[12:-4],addr))

    return extracted_labels
extracted_labels = extract_labels(files_path,path)

../blockchain_files/3000000to3999999_BlockTransaction/3000000to3999999_BlockTransaction.csv

In [ ]:
len(extracted_labels)

In [6]:
with open('4000000to4999999_BlockTransaction_address.csv','w') as f:
    df.to_csv(f,index=False,header=True)

In [3]:
import pandas as pd
df = pd.read_csv('4000000to4999999_BlockTransaction_address.csv')

In [15]:
df_uni=df.drop_duplicates()
df_uni.shape

(44, 2)

In [18]:
df_uni[1].unique().shape

(44,)

In [20]:
df_uni[df_uni[1].duplicated()]

Empty DataFrame
Columns: [0, 1]
Index: []

In [16]:
df_uni[df_uni['1'].duplicated(keep='last')]

                0                                           1
13    compromised  0x5baeac0a0417a05733884852aa068b706967e790
14    compromised  0x2984581ece53a4390d1f568673cf693139c97049
1298    isowallet  0x6a164122d5cf7c840d26e829b46dcc4ed6c0ae48

In [18]:
final_df = df_uni[df_uni['1'].duplicated()==False].copy()

In [20]:
final_df

                0                                           1
0       isowallet  0xa2c9a7578e2172f32a36c5c0e49d64776f9e7883
1       isowallet  0xee155572635ae7d1f4e30ec3179ce65b5342cb17
2       isowallet  0x93b7e9364c4df6de55ed0d10c80e7afc0612e93a
3       isowallet  0x6dd5a9f47cfbc44c04a0a4452f0ba792ebfbcc9a
4          mining  0xa42af2c70d316684e57aefcc6e393fecb1c7e84e
...           ...                                         ...
9952   phish_hack  0x0059b14e35dab1b4eee1e2926c7a5660da66f747
9984     exchange  0x274f3c32c90517975e29dfc209a23f315c1e5fc7
10061  phish_hack  0x4e87016fd144e1716b9985afb704fc359d243a4f
10064  phish_hack  0x570ac27d1048dcba1a4c58fe80109b9cf9b0e2ef
10170  phish_hack  0x75ef676846732599862d0091fb485e7486838fd3

[274 rows x 2 columns]

In [23]:
pd.options.mode.chained_assignment = None

In [24]:
import numpy as np
print(path)
final_df.reset_index(drop=True, inplace=True)
final_df['tx_sent'] = np.zeros(274)
final_df['tx_rec'] = np.zeros(274)


for df in pd.read_csv(path, chunksize=1000000):
    for i in range(len(final_df)):
        tx_sent = (df['from'] == final_df['1'].loc[i]).sum()
        tx_rec = (df['to'] == final_df['1'].loc[i]).sum()
        final_df['tx_sent'].loc[i]+=tx_sent
        final_df['tx_rec'].loc[i]+=tx_rec
#         break
#     break

../4000000to4999999_BlockTransaction/4000000to4999999_BlockTransaction.csv

In [26]:
with open('4000000to4999999_BlockTransaction_count.csv','w') as f:
    final_df.to_csv(f,index=False,header=True)

In [44]:
path = '../4000000to4999999_BlockTransaction/'

In [47]:
from datetime import date
import time
start=True
time_list = []
for df in pd.read_csv(path+'processed.csv', chunksize=1000000):
    if start:
        time_list.append(date.fromtimestamp(df.iloc[0][0]))
    else:
        time_list.append(date.fromtimestamp(df.iloc[-1][0]))

In [50]:
time_df = pd.DataFrame(time_list)

In [51]:
time_df.head()

            0
0  2017-07-10
1  2017-07-16
2  2017-07-23
3  2017-07-30
4  2017-08-07

In [3]:
pd.options.mode.chained_assignment = None
def extract_features(path,save_path):
    print(path)
    print(save_path)
    filePath = save_path+'processed.csv'
    if os.path.exists(filePath):
        os.remove(filePath)
        
    start = True
    for df in pd.read_csv(path, chunksize=100000):
        proc_df = df[df['toIsContract']==0]
        proc_df = proc_df[proc_df['fromIsContract']==0]
        df1 = proc_df[['timestamp', 'from','to','value','gasLimit','gasPrice','gasUsed']]
        with open(filePath, 'a') as f:
            if start:
                start=False
                df1.to_csv(f,index=False,header=True)
            else:
                df1.to_csv(f,index=False, header=False)

In [4]:
files_path = '../csvfiles/*'
def extract_labels(files_path,path):
    print(path)
    files = []
    for name in glob.glob(files_path):
        files.append(name)
    
    extracted_labels=[]
    for df2 in pd.read_csv(path, chunksize=10000000):
        for f in files:
            df = pd.read_csv(f,header=None)
            for addr in df[0]:
                if df2[df2['from']==addr].count()[0]> 0:
                    extracted_labels.append((f[12:-4],addr))

    return extracted_labels

In [5]:
def save_df(path,df):
    print(path)
    with open(path, 'w') as f:
        df.to_csv(f,index=False,header=True)

In [6]:
def extract_time(path):
    start=True
    time_list = []
    for df in pd.read_csv(path, chunksize=10000000):
        if start:
            time_list.append(date.fromtimestamp(df.iloc[0][0]))
        else:
            time_list.append(date.fromtimestamp(df.iloc[-1][0]))
    return time_list

In [7]:
def extract_tx_counts(path,final_df):
    print(path)
    final_df.reset_index(drop=True, inplace=True)
    final_df['tx_sent'] = np.zeros(len(final_df))
    final_df['tx_rec'] = np.zeros(len(final_df))


    for df in pd.read_csv(path, chunksize=10000000):
        for i in range(len(final_df)):
            tx_sent = (df['from'] == final_df['1'].loc[i]).sum()
            tx_rec = (df['to'] == final_df['1'].loc[i]).sum()
            final_df['tx_sent'].loc[i]+=tx_sent
            final_df['tx_rec'].loc[i]+=tx_rec
    #         break
    #     break

In [29]:
!ls ../

0to999999_BlockTransaction	       4000000to4999999_BlockTransaction
0to999999_BlockTransaction.zip	       4000000to4999999_BlockTransaction.zip
1000000to1999999_BlockTransaction      5000000to5999999_BlockTransaction.zip
1000000to1999999_BlockTransaction.zip  blockchain
2000000to2999999_BlockTransaction      blockchain_code
2000000to2999999_BlockTransaction.zip  Compressed
3000000to3999999_BlockTransaction      csvfiles
3000000to3999999_BlockTransaction.zip  fm.zip

In [24]:
save_path = '../blockchain_files/4000000to4999999_BlockTransaction/'
path = '../blockchain_files/4000000to4999999_BlockTransaction/4000000to4999999_BlockTransaction.csv'

In [25]:
extract_features(path,save_path)

../blockchain_files/4000000to4999999_BlockTransaction/4000000to4999999_BlockTransaction.csv
../blockchain_files/4000000to4999999_BlockTransaction/

In [26]:
extracted_labels = extract_labels(files_path,save_path+'processed.csv')

../blockchain_files/4000000to4999999_BlockTransaction/processed.csv

In [27]:
extracted_labels_df = pd.DataFrame(extracted_labels)
extracted_labels_df.shape

(878, 2)

In [28]:
extracted_labels_df = pd.DataFrame(extracted_labels)
save_df(save_path+'extracted_labels.csv',extracted_labels_df)

../blockchain_files/4000000to4999999_BlockTransaction/extracted_labels.csv

In [29]:
df = pd.read_csv(save_path+'extracted_labels.csv')
df_uni=df.drop_duplicates()

In [30]:
df_uni[df_uni['1'].duplicated()]

             0                                           1
17    exchange  0x5baeac0a0417a05733884852aa068b706967e790
18    exchange  0x2984581ece53a4390d1f568673cf693139c97049
169  isowallet  0x6a164122d5cf7c840d26e829b46dcc4ed6c0ae48

In [31]:
df_uni[df_uni['1'].duplicated(keep='last')]

              0                                           1
0   compromised  0x5baeac0a0417a05733884852aa068b706967e790
1   compromised  0x2984581ece53a4390d1f568673cf693139c97049
98  compromised  0x6a164122d5cf7c840d26e829b46dcc4ed6c0ae48

In [16]:
df_uni['1'].head()

0    0x5baeac0a0417a05733884852aa068b706967e790
1    0x2984581ece53a4390d1f568673cf693139c97049
2    0x027beefcbad782faf69fad12dee97ed894c68549
3    0xb6aac3b56ff818496b747ea57fcbe42a9aae6218
4    0x0ee4e2d09aec35bdf08083b649033ac0a41aa75e
Name: 1, dtype: object

In [32]:
final_df = df_uni[df_uni['1'].duplicated(keep='last')==False].copy()

In [77]:
final_df[final_df['1']=='0x2984581ece53a4390d1f568673cf693139c97049']

            0                                           1
275  exchange  0x2984581ece53a4390d1f568673cf693139c97049

In [33]:
extract_tx_counts(save_path+'processed.csv',final_df)

../blockchain_files/4000000to4999999_BlockTransaction/processed.csv

In [34]:
save_df(save_path+'tx_counts.csv',final_df)

../blockchain_files/4000000to4999999_BlockTransaction/tx_counts.csv

In [35]:
time_list = extract_time(save_path+'processed.csv')

In [36]:
time_df = pd.DataFrame(time_list)
time_df.shape

(7, 1)

In [37]:
save_df(save_path+'time.csv',time_df)

../blockchain_files/4000000to4999999_BlockTransaction/time.csv

In [38]:
final_df.shape

(248, 4)

In [39]:
final_df

,0,1,tx_sent,tx_rec
0,compromised,0xb6aac3b56ff818496b747ea57fcbe42a9aae6218,136854.0,90899.0
1,compromised,0x0ee4e2d09aec35bdf08083b649033ac0a41aa75e,819.0,3.0
2,exchange,0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be,860631.0,1508938.0
3,exchange,0x001866ae5b3de6caa5a51543fd9fb64f524f5478,922.0,1148.0
4,exchange,0x1151314c646ce4e0efd76d1af4760ae66a9fe30f,220233.0,14.0
...,...,...,...,...
243,phish_hack,0xdafc2a2d4e070f863cfcb5887bc2516e05e18877,26.0,68.0
244,phish_hack,0xd31b1bee0c9f42cb47406d52a796d8a26c5cf802,4.0,7.0
245,phish_hack,0x0059b14e35dab1b4eee1e2926c7a5660da66f747,1.0,75.0
246,phish_hack,0xf3a3fe3318722e1d060845ad7760cc98abe6f977,1.0,1.0
247,phish_hack,0x570ac27d1048dcba1a4c58fe80109b9cf9b0e2ef,1.0,1.0